.form {
  font-size: 0.8em;
  padding: 0.8em;
  border: solid 1px rgb(210, 71, 71);
  border-radius: 0.3em;
}

.button {
  color: rgb(182, 65, 65);
  font-size: 0.8em;
  background-color: blueviolet;
  padding: 0.3em 0.6em;
  border: none;
  border-radius: 0.1em;
}

.code {
  font-size: 0.8em;
  text-align: left;
}
