.form {
  font-size: 1em;
  padding: 1em;
  border: solid 1px rgb(210, 71, 71);
  border-radius: 0.5em;
}

.button {
  color: rgb(182, 65, 65);
  font-size: 1em;
  background-color: blueviolet;
  padding: 0.5em 0.8em;
  border: none;
  border-radius: 0.2em;
}

.code {
  text-align: left;
}
