body {
  font-family: 'Arial', sans-serif;
  background-color: #2a2b2a;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.profile-button {
  background-color: #4acbae;
  margin-top: 40px;
  font-size: 2em;
  transition: transform 0.3s ease; /* Add a smooth transition effect */
  border-radius: 10px;
  &:hover {
    transform: scale(1.1);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.success-page {
  text-align: center;
  margin-top: 50px;

  h1 {
    color: #ffeb7d;
    font-size: 3em;
    margin-bottom: 20px;
  }

  // You can add more styles as needed
}
