body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #2a2b2a; /* Set the background color to grey */
  overflow: hidden;
  height: 100%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  background-color: #2a2b2a; /* Add your desired background color */
  color: #ffffffe3;
}

.profile-title {
  margin-bottom: 20px;
  margin-right: 550px;
  margin-left: 550px;
  text-align: center;
  border-radius: 100px; /* Add border radius */
  padding: 10px; /* Add padding for better styling */
  color: rgb(255, 255, 255);
  background-color: black;
}

.profile-content {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.profile-section {
  flex: 1;
  padding: 20px;
  border: 1px; /* Add a border for better separation */
  margin-right: 1000px;
  text-align: left;
  background-color: black;
  border-radius: 20px;
}

.section-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.active-service {
  position: absolute;
  top: 200px; /* Add some margin to the top */
  right: 150px;
  text-align: right;
  font-size: 40px;
  color: #ffc689;
}

button {
  background-color: #2a2b2a; /* Grey background color */
  border: none; /* Remove button border */
  padding: 10px; /* Adjust padding */
  cursor: pointer; /* Add pointer cursor on hover */
  border-radius: 10px; /* Optional: Adds rounded corners */
  transition: transform 0.3s ease;
  margin-right: 150px;
}
button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(255, 73, 73, 0.3); /* Add a subtle shadow on hover */
}

/* Align "Personal Data" and "Contact Information" to the left */
.not-active {
  color: white;
  font-size: 32px;
}

.service-link button.now {
  background-color: #2a2b2a; /* Grey background color */
  border: none; /* Remove button border */
  padding: 10px; /* Adjust padding */
  cursor: pointer; /* Add pointer cursor on hover */
  border-radius: 10px; /* Optional: Adds rounded corners */
  transition: transform 0.3s ease;
  margin-right: 150px; /* Adjust margin as needed */
  &:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(255, 73, 73, 0.3); /* Add a subtle shadow on hover */
  }

  a {
    text-decoration: none; /* Remove underline from links */
    color: #fae35e; /* White text color */
    font-size: 35px;
  }
}
