* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(31, 30, 30); // Set the background color to black
  color: white; // Set the text color to white
}

nav {
  width: 100vw;
  height: 4rem;
  background: rgb(110, 179, 87); // Set the background color to green
  display: flex;
  justify-content: space-around;
  align-items: center;
  > div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  > div a {
    margin: 4px;
  }
}

.error {
  color: red;
  background: grey;
}

.logoutButton {
  padding: 4px 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
