* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(31, 30, 30);
  color: white;
}

nav {
  width: 100vw;
  height: 4rem;
  background: rgb(110, 179, 87);
  display: flex;
  justify-content: space-around;
  align-items: center;
  > div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  > div a {
    margin: 4px;
  }
}

.error {
  color: rgb(81, 0, 255);
  background: grey;
}

.pna1-image {
  width: 100px;
  height: 100px;
}

.pna2-image {
  width: 100px;
  height: 100px;
}

.contact {
  background-color: #07a126;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.email-image {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.facebook-image {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.instagram-image {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.telephone-image {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
