body {
  margin: 0;
  padding: 0;
  font-family: 'ProximaNova', 'Arial', sans-serif;
}

// Style for the navigation bar
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4acbae; // Add your desired background color
  padding: 10px;

  .left-side {
    display: flex;
    align-items: center;
    margin-left: 30px;
    transition: transform 0.7s ease; /* Add transform transition */
    text-decoration: none;
    color: black;
    &:hover {
      color: #000000;
      transform: scale(1.2); /* Scale up the item on hover */
    }
  }

  .user-name {
    color: #020202;
    margin-left: 15px;
    font-weight: bold;
    font-style: italic;
    font-size: 1.7em;
    text-decoration: none;
  }

  .right-side {
    display: flex;
    align-items: center;

    .text-white {
      font-weight: 600;
      font-size: 20px;
      color: #000000;
      margin-right: 35px; /* Adjust the margin-right for spacing */
      text-decoration: none;
      transition: transform 0.4s ease; /* Add transform transition */
      cursor: pointer;

      &.active {
        color: #00000000; /* Color for the active state, adjust as needed */
      }

      &:hover {
        color: #000000;
        transform: scale(1.2); /* Scale up the item on hover */
      }
    }
  }
}
